
.nav{
    background-color: #00573f;
    padding: 20px;
    box-shadow: 2px 1px 1px #cccc;
}
.container{
display: flex;
justify-content: space-between;
align-items: center;
}
.container ul{
    display: flex;

}

.container ul li{
    margin-left: 30px;
}
.container ul li a{
    color: #defe11
}
.logo{
    font-size: 3rem;
    font-weight: 500;
    color: #defe11
}