@font-face {
  font-family: 'MyWebFont';
  src:  url('los_andes__lota_grotesque_alt_1_black-webfont.woff') format('woff');
}
.App {
    text-align:center; 
    font-family: 'MyWebFont';
  
  }
  
  .Applogo {
    height: 15vmin;
    pointer-events: none;
    font-family: 'MyWebFont';
  
  
  
  }
  
  .Button{
    background-color:#196838;
    color: #DFFC18;
    font-weight:bold;
    font-size:17px;
    border-radius: 6px;
    height: 50px;
    width: 200px;
    border-style: hidden;
    font-family: 'MyWebFont';
  }
  .orderButton{
    background-color:#196838;
    color: #DFFC18;
    font-weight:bold;
    font-size:11px;
    border-radius: 6px;
    height: 22px;
    border-style: hidden;
    font-family: 'MyWebFont';
  }
  .input{
    background-color:#196838;
    color: #DFFC18;
    font-weight:bold;
    font-size:17px;
    background-blend-mode:normal;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius:6px;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    height: 50px;
    width: 200px;
    border-style: hidden;
    font-family: 'MyWebFont';
  }
  
  .Appheader {

    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: white;
    color:#196838;
    font-weight:bold;
    font-family: 'MyWebFont';
  }
  
  .Applink {
    color: #61dafb;
    font-family: 'MyWebFont';
  }
  
  .Card{
      width: 100%;
      display: flex;
       /* flex-wrap: wrap; */
      position: absolute;
      padding: 1% ;
      padding-left: 40%;
      font-family: 'MyWebFont';
      align-self: center;
  }
  
  .Image{
    flex: 1 1 120px;
    font-family: 'MyWebFont';
  }
  .Order{
    align-self: center;
    align-items: center;
    width: 100%;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #e6ecf0;
    border-top: 2px solid #e6ecf0;
    border-left: 4px solid #e6ecf0;
    border-right: 2px solid #e6ecf0;
    border-radius: 4mm;
    margin-bottom: 1%;
    font-family: 'MyWebFont';
  
  }
  .Stripe{
    margin-top: -1%;
    font-size: 6mm;
    color: #196838;
    font-weight: bold;
    width: 100%;
    font-family: 'MyWebFont';
  }
  .Item {
    display: flex;
    flex-wrap: wrap;
    padding: 0% 0% 0% 0%;
    width: 100%;
    font-family: 'MyWebFont';
  }
  .StatusCard { 
    display: inline-block;
    margin-left:100px;
    height: 20pt;
    width: 75pt; 
    background-color: rgba(252, 185, 185, 0.693);
    border-radius:20cm;
    margin-top: 10%;
    font-family: 'MyWebFont';
    align-self: center;
  
  }
  .Status{
    font-size:4mm;
    font-weight: bold;
    color: rgb(253, 59, 59);
    margin-top:2px;
    font-family: 'MyWebFont';
  }
  .price{
    display: flex;
    font-size: 5mm;
    font-weight: 700;
    padding: 0% 0% 0% 80%;
    margin-top: -10%;
    width: 100%;
    font-family: 'MyWebFont';
  
  }
  .img {
    max-width: 68px;
    border-radius: 100%;
    font-family: 'MyWebFont';
  }