@font-face {
  font-family: 'MyWebFont';
  src:  url('los_andes__lota_grotesque_alt_1_black-webfont.woff') format('woff');
}
.a {
    color: #defe11;
    text-decoration: none;
    font-family: 'MyWebFont';

  }

  .b {
    color: #7a862f;
    text-decoration: none;
    font-family: 'MyWebFont';
  }

  .title a {
    background: #00573f;
    text-decoration: none;
    font-family: 'MyWebFont';
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
    font-family: 'MyWebFont';
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    font-family: 'MyWebFont';
  }

  .title,
  .description {
    text-align: center;
    font-family: 'MyWebFont';
  }

  .description {
    line-height: 1.5;
    font-size: 2rem;
    background: white;
    color: white;
    text-decoration: underline;
    font-family: 'MyWebFont';
  }

  .card {
    width: 650px;
    height: 500px;
    background: #00573f;
    font-family: 'MyWebFont';
    margin: 3rem;
    flex-basis: 95%;
    padding: 2rem;
    text-align: left;
    color: #defe11;
    text-decoration: none;
    border: 5px solid #defe11;
    border-radius: 20px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
    font-family: 'MyWebFont';
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: 'MyWebFont';
  }
  .card check {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'MyWebFont';
  }
  .card detail {
    padding:0 1.2rem;
    font-size: 1.8rem;
    flex: 1;
    display: flex;
    font-family: 'MyWebFont';
  }
  .button2 {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: gray;
    background-size:400%;
    color: #defe11;
    font-family: "MyWebFont";
    margin-left: 430px;
    place-content: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .button2:hover::before{
    transform: scaleX(1);
    text-align: center;
    place-content: center;
    align-content: center;
    justify-content: center;
  }
  .button2-content{
    position:relative;
    z-index: 1;
    text-align: center;
  }
  .button2::before {
    content: "Return Order";
    text-align: center;
    place-content: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      83.2deg,
      #247860 10.8%,
      #00573f 94.3%
    );
    transition: all 0.475s;
  }
  .button3 {
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.4rem;
    background: linear-gradient(
      -45deg,
      #00573f,
      #247a62,
      #6c9610,
      #73a00b,
      #00573f
    );
    background-size:400%;
    background-position: 90% 0;
    color: #defe11;
    font-family: "MyWebFont";
    margin-left: 420px;
    place-content: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    transition: background 0.8s;
    border-radius: 12;
    padding: 12;
    font-size: medium;
    width: max-content;
  }
  .button3:hover {
    background-position: 190% 50%;
  }
  .button3:active {
    opacity: 0.5;
    color: #defe11;
    cursor: grabbing;
  }
  .card2 {
    width: 650px;
    height: 600px;
    background-color: white;
    margin: 3rem;
    flex-basis: 95%;
    padding:1.7rem;
    text-align: left;
    color: #defe11;
    text-decoration: none;
    border: 5px solid;
    border-image:linear-gradient(
      -45deg,
      #00573f,
      #247a62,
      #6c9610
     ) 1;
    animation: rotate 2.5s ease-in infinite;
    border-radius: 20px;
    font-family: "MyWebFont"
  }
  @keyframes rotate {
    50%{
        border-image: linear-gradient(
          -45deg,
          #00573f,
          #247a62,
          #6c9610
         ) 1 ;
    }
  }
  .card2:hover,
  .card2:focus,
  .card2:active {
    color: #defe11;
    border-color: #defe11;
  }
  .card2 h3 {
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
    font-family: "MyWebFont"
  }
  .card2 p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: "MyWebFont"
  }
  .card2 check {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "MyWebFont"
  }
  .card2 detail {
    padding:0 1.2rem;
    font-size: 1.8rem;
    flex: 1;
    display: flex;
    font-family: "MyWebFont"
   
  }